[submodule "bundle/vim-execrus"]
	path = bundle/vim-execrus
	url = https://github.com/Sirupsen/vim-execrus.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-arduino"]
	path = bundle/vim-arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule "bundle/vim-arduino-syntax"]
	path = bundle/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax
[submodule "bundle/vim-tomorrow-night"]
	path = bundle/vim-tomorrow-night
	url = https://github.com/wjakob/vim-tomorrow-night.git
